@charset "UTF-8";
/*Definición de estilos de los loader*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*FIN DE NORMALIZE*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }

li {
  list-style: none; }

main::-webkit-scrollbar {
  width: 16px;
  height: 16px; }
main::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px; }
main::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
  border-radius: 10px; }

/*Definición de estilos de los loader*/
.container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 13em 1fr;
  grid-template-rows: 1fr 100% 100%;
  grid-template-areas: "aside    header" "aside    main" "footer   footer"; }

.container header {
  grid-area: header; }
.container aside {
  grid-area: aside; }
.container main {
  grid-area: main; }
.container footer {
  grid-area: footer; }

/*Definición de estilos de los loader*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr 100%;
    grid-template-areas: "header    header" "aside     aside" "main      main";
    overflow-y: auto; }
    .container header {
      background-color: #fff !important;
      margin-top: 0px !important;
      padding-top: 10px !important;
      height: auto !important;
      padding-right: 0; }
    .container aside {
      height: 5em;
      text-align: center;
      box-shadow: none !important; }
      .container aside #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto; }
        .container aside #logo a img {
          width: 13em; }
      .container aside .nav {
        display: none;
        padding-bottom: 2em; }
    .container #hamburger {
      display: block;
      margin-left: 0.5em; }
    .container main {
      justify-content: center;
      margin-top: 2em; }
      .container main #events {
        justify-content: center;
        align-items: center; }
      .container main .card-container {
        box-shadow: none;
        height: fit-content; } }
@media screen and (min-width: 541px) and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr 100%;
    grid-template-areas: "header    header" "aside     aside" "main      main";
    overflow-y: auto; }
    .container header {
      background-color: #fff !important;
      margin-top: 0px !important;
      padding-top: 10px !important;
      height: auto !important; }
    .container aside {
      height: 5em;
      text-align: center;
      box-shadow: none !important; }
      .container aside #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto; }
        .container aside #logo a img {
          width: 13em; }
      .container aside .nav {
        display: none;
        padding-bottom: 2em; }
    .container #hamburger {
      display: block;
      margin-left: 0.5em; }
    .container main {
      justify-content: center;
      margin-top: 2em; }
      .container main .card-container {
        width: fit-content;
        box-shadow: none;
        height: fit-content; } }
/*Definición de estilos de los loader*/
header {
  height: 3em;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em; }
  header #notifications {
    margin-right: 30px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
  header #profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: auto; }
  header .container-avatar {
    width: 50px;
    height: 50px;
    border-radius: 900px;
    overflow: hidden; }
  header .container-avatar img {
    width: 100%;
    height: 100%; }

/*Definición de estilos de los loader*/
.pre-loader-container {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }
  .pre-loader-container .pre-loader {
    position: absolute;
    top: 52%;
    left: 50%; }
    .pre-loader-container .pre-loader span {
      height: 1.3em;
      width: 1.3em;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      filter: brightness(1.2);
      border-radius: 50%;
      animation: wave 2s ease-in-out infinite; }
      .pre-loader-container .pre-loader span:nth-child(1) {
        left: -4em;
        animation-delay: 0s;
        background: linear-gradient(to right, #ff9600, #ff8e15); }
      .pre-loader-container .pre-loader span:nth-child(2) {
        left: -2em;
        animation-delay: 0.1s;
        background: linear-gradient(to right, #ff7d14, #ff6d2f); }
      .pre-loader-container .pre-loader span:nth-child(3) {
        left: 0em;
        animation-delay: 0.2s;
        background: linear-gradient(to right, #ff5538, #ff414d); }
      .pre-loader-container .pre-loader span:nth-child(4) {
        left: 2em;
        animation-delay: 0.3s;
        background: linear-gradient(to right, #ff3059, #ff1c6e); }

@keyframes wave {
  0%,
    75%,
    100% {
    transform: translateY(0) scale(1); }
  25% {
    transform: translateY(1em); }
  50% {
    transform: translateY(-1.1em) scale(1.1); } }
/*Definición de estilos de los loader*/
#logo {
  text-align: center; }
  #logo a img {
    width: 80%; }

#hamburger {
  display: none; }

.container aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.1); }

ul li a {
  transition: color 0.2s ease-in-out; }
  ul li a:hover {
    text-decoration: none;
    color: #ff8a05; }

.nav #nav-events li, .nav #nav-profile li {
  width: auto;
  justify-content: center;
  padding-top: 0.625em; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 5%; }
  .nav #nav-events {
    width: 100%;
    font-size: 1.1em; }
  .nav #nav-profile {
    margin-top: 5vw; }

.nav-title {
  font-weight: bold;
  font-size: 1.1em;
  background: -webkit-linear-gradient(left, #ff5db1 0%, #ff8a05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

main {
  padding: 2em;
  padding-top: 0;
  margin-top: 10px;
  height: 100% auto;
  padding-bottom: 0;
  overflow-y: auto; }

footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #ff5db1, #ffc400, #ff8a05, #c60bff);
  animation: animation 4s ease-in-out infinite;
  background-size: 200%; }

@keyframes animation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/*# sourceMappingURL=app.css.map */
