@import "./variables";

// Nombres de las grid-areas
@mixin grid-areas($header-name, $aside-name, $main-name, $footer-name) {
    .container {
        header {
            grid-area: $header-name;
        }
        aside {
            grid-area: $aside-name;
        }
        main {
            grid-area: $main-name;
        }
        footer {
            grid-area: $footer-name;
        }
    }
}

// Disposición flexible del header
@mixin flex-header($direction, $wrap, $alignment) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $alignment;
}

// Disposición flexible del aside
@mixin flex-aside($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

// Gradiente de colores
@mixin gradient($direction, $color1, $color2, $color3, $color4) {
    background: linear-gradient($direction, $color1, $color2, $color3, $color4);
}

// Definición de media queries
@mixin media-query($breakpoint) {
    @if ($breakpoint == small) {
        @media screen and (min-width: 0px) and (max-width: 540px) {
            @content;
        }
    }
    @if ($breakpoint == medium) {
        @media screen and (min-width: 541px) and (max-width: 768px) {
            @content;
        }
    }
}

//Estilos del header responsive
@mixin header-style {
    background-color: $white !important;
    margin-top: 0px !important;
    padding-top: 10px !important;
    height: auto !important;
}

/*Definición de estilos de los loader*/
@mixin loader-children($left, $animation, $first-color, $second-color) {
    left: $left;
    animation-delay: $animation;
    background: linear-gradient(to right, $first-color, $second-color);
}
